@import "../../../styles/variables";

.projects__section > article:nth-child(2n) {
	background-color: rgba(0, 0, 0, 0.911);
	color: white;
	& > article:nth-child(2n + 1) {
		background-color: rgb(255, 255, 255);
	}
}

.project__info > p {
	font-size: 1.4rem;
	font-weight: 400;
	text-indent: 2rem;
	margin-bottom: 0.7rem;
	font-family: $primary-font;
}

.project__title {
	font-size: 2.5rem;
	font-family: "Oswald", sans-serif;
	letter-spacing: 0.1rem;
	margin-bottom: 1rem;
}

.project__featureList {
	margin-bottom: 1rem;
	list-style: none;

	li {
		font-weight: 400;
		font-size: 1.3rem;
		font-family: $primary-font;
	}
}
